.current-weather {
	justify-items: center;
	justify-self: center;

	width: 69%;
}

#current-max-min {
	display: flex;

	gap: 3rem;
}

.current-weather {
	border-radius: 1rem;

	backdrop-filter: blur(100rem);

	box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.156);
}

h3 {
	border-bottom: solid white 1px;
	padding-bottom: 0.2rem;
}
