.current-weather {
	display: grid;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 0.5fr);

	justify-items: center;

	width: 69%;
}

#current-location,
#current-temperature,
#current-max-min {
	grid-column: 1/2;
}

#current-condition {
	grid-row: 1/2;
	grid-column: 2;
}

#current-max-min {
	display: flex;

	gap: 3rem;
}

.current-icon {
	grid-column: 2;
	grid-row: 2 / 4;
}

.current-weather {
	border-radius: 1rem;

	backdrop-filter: blur(100rem);

	box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.156);
}

h3 {
	border-bottom: solid white 1px;
	padding-bottom: 0.2rem;
}
