.forecast-daily-weather {
	display: flex;
	flex-direction: column;

	justify-self: center;
	align-self: center;

	width: 60%;

	padding: 1rem 1rem;
}

.forecast-daily-weather > .time {
	display: grid;

	grid-template-columns: 0.5fr 1fr repeat(2, 0.5fr);
	gap: 1rem;

	align-items: center;
	justify-items: center;
}

.forecast-daily-weather {
	border-radius: 1rem;

	backdrop-filter: blur(100rem);

	box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.156);
}
