.weather-by-hour {
	display: flex;
	gap: 2rem;

	width: 48%;
	justify-self: center;
	overflow-x: scroll;

	justify-content: start;
}

.weather-by-hour > .time {
	display: grid;

	align-items: center;

	grid-template-rows: repeat(3, 2rem);

	gap: 1rem;
}
