.weather-by-hour {
	display: flex;
	gap: 2rem;

	overflow-x: scroll;

	margin: 0rem 0.2rem;

	text-align: center;
}

.weather-by-hour > .time {
	display: grid;

	align-items: center;

	grid-template-rows: repeat(3, 2rem);

	gap: 1.2rem;
}

.current-hourly-weather {
	width: 65%;

	justify-self: center;

	padding: 0 1rem;

	border-radius: 1rem;

	backdrop-filter: blur(100rem);

	box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.156);
}

.upcoming-conditions {
	margin-top: 1.2rem;

	padding-bottom: 1rem;

	border-bottom: 1px white solid;
}
