#weather-location,
button #weather-location:active {
	appearance: none;

	border: none;
	border-radius: 0.2rem;

	height: 1.5rem;
	padding-left: 0.4rem;

	background: none;

	backdrop-filter: blur(400rem);
}

header {
	display: flex;
	justify-content: end;
	margin: 1rem 1rem 1rem 1rem;
}

input[type='search'] {
	appearance: none;
}
