@font-face {
	font-family: 'Montserrat'; /*MAIN FONT*/
	src:
		url('../font/Montserrat-Regular.woff2') format('woff2'),
		url('../font/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

/* remove styling from list */
ul {
	list-style: none;
	padding-left: 0;
}

h3,
h1,
h4 {
	margin: 1rem 0;
}

main {
	display: grid;
	grid-template-columns: 50rem;
	gap: 3rem;

	justify-content: center;
	justify-items: center;
}

body {
	font-family: 'Montserrrat', helvetica, sans-serif;
	color: white;

	margin-bottom: 2rem;

	background-image: url('../images/default-image.jpeg');

	background-size: 1500px;
}
