img.current-icon {
	width: 6rem;
}

.current-high::before,
.current-low::before {
	position: absolute;

	content: '';

	width: 15px;
	height: 15px;

	background-size: contain;

	top: 2px;
}

.current-high,
.current-low {
	position: relative;
}

.current-high::before {
	background-image: url('../svgs/tempMax.svg');
	left: -22px;
}

.current-low::before {
	background-image: url('../svgs/tempLow.svg');
	right: -22px;
}

.conditions {
	width: 30px;
	height: 30px;

	background-size: contain;

	justify-self: center;
}

.conditions[data-conditions='clear-day'] {
	background-image: url('../svgs/sun.svg');
}

.conditions[data-conditions='clear-night'],
.conditions[data-conditions='partly-cloudy-night'] {
	background-image: url('../svgs/night.svg');
}

.conditions[data-conditions='partly-cloudy-day'] {
	background-image: url('../svgs/partially-cloudy.svg');
}

.conditions[data-conditions='cloudy'] {
	background-image: url('../svgs/cloudy.svg');
}

.conditions[data-conditions='rain'] {
	background-image: url('../svgs/rainning.svg');
}
